.product-table{
  $table-cell-padding: 12px;
  $table-th-width-sm: 100px;
  $table-th-width-md: 140px;

  width: 100%;
  border-collapse: collapse; // 셀 끼리 border 붙임
  table-layout: fixed; // table 사이즈를 무조건 고정시킴
  
  tr{
    @include text-style(12, $primary);
    text-align: left;
    border-bottom: 1px solid $border;
    vertical-align: top;  // 셀 내 정렬 (top 상단정렬 추천)
  }

  th,
  td{
    padding: $table-cell-padding;
  }

  th{
    width: $table-th-width-sm + $table-cell-padding;
    font-weight: 400;
    color: $secondary;
  }

  td{
    padding-left: 0;
  }

  @include responsive(T){
    tr{
      @include text-style(14);
    }

    th{
      width: $table-th-width-md + $table-cell-padding * 2;
      font-weight: 400;
      color: $secondary;
    }
  }
}