.lnb{
  @include no-scrollbar;
  overflow-x: auto;  // 터지는부분 스크롤처리
  border-bottom: 1px solid $border;

  &-list{
    @include inline-flexbox(start);
    position: relative;
    left: -8px;
    white-space: nowrap;  // 요소의 공백처리 속성
    height: 40px;

    
  }
  &-item {

    &.is-active{
      a{
        color: $blue;
        border-bottom-color: $blue;
      }
    }  

    a{
      @include inline-flexbox;
      @include text-style(13, $dark);
      height: 40px;
      padding: 0 8px;
      font-weight: 700;
      border-bottom: 2px solid transparent;
    }

    .ic-new{
    color: $red;
    }
  }
}