.search-modal{
  position: fixed;
  top: 0;
  left: 0;
  z-index: $search-modal-level;
  width: 100%;
  height: 100vh;
  padding: 12px 0;
  background-color: $white;

  &-header {
    margin-bottom: 20px;
  }

  &-form {
    @include flexbox(between);

    .input-group{
      flex-grow: 1; // 남는공간 만큼 커져라
    }

    .btn-ghost{
      flex-grow: 0;  // 공간 남아도 커지지 말아라
      flex-shrink: 0; // 공간 없어도 작아지지 말아라
      width: 56px;
      margin-left: 8px;
    }
  }
}